<form action="/countries/<%= params[:country_id] %>/strikes" method="post">
  <input type="hidden" name="_method" value="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <h2>You are registering an attack by the following country:  <%= Country.find(params[:country_id]).name %>.</h2>

  <label for="strike[target_id]">Target_id:</label>
  <input name="strike[target_id]" value="<%= @strike.target_id %>">

  <label for="strike[airstrike]">Was this an airstrike?(true or false)</label>
  <input name="strike[airstrike]" value="<%= @strike.airstrike %>">

  <label for="strike[date]">Date:</label>
  <input name="strike[date]" value="<%= @strike.date %>">

  <label for="strike[time]">Time:</label>
  <input name="strike[time]" value="<%= @strike.time %>">

  <label for="strike[area]">Approximate Location:</label>
  <input name="strike[area]" value="<%= @strike.area %>">

  <input type="submit" value="Create">
</form>
