<form action="/countries/<%= @country.id %>/strikes" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="strike[target_id]">Target:</label>
<select name="strike[target_id]">
    <% @targets.each do |target| %>
    <option value="<%= target.id %>"><%= target.name %></option>
    <% end %>
</select>

  <label for="strike[airstrike]">Was this an airstrike?(true or false)</label>
  <input name="strike[airstrike]" value="<%= @strike.airstrike %>">

  <label for="strike[date]">Date:</label>
  <input name="strike[date]" value="<%= @strike.date %>">

  <label for="strike[time]">Time:</label>
  <input name="strike[time]" value="<%= @strike.time %>">

  <label for="strike[area]">Approximate Location:</label>
  <select name="strike[area]">
    <option value=>
        <% Region.all.each do |region| %>
        <option value="<%= region.name %>"><%= region.name %></option>
        <% end %>
  <input type="submit" value="Create">
</form>
