<h2>Strikes by Nation // <%= @country.name %></h2>

<%= link_to 'Report a Strike', new_country_strike_path(@country) %>

<ul>
  <% @strikes.each do |strike| %>
    <li>
        On <%= strike.date %>:  Strike against <%= strike.target.name %><br>
      <% if strike.airstrike %>
      <%= "Airstrike on #{strike.area} at #{strike.time}"%>
      <p class="edit"><a href="/countries/<%= strike.country_id %>/strikes/<%= strike.id %>/edit">Is this information inaccurate? Edit this strike.</a></p>
      <% else %>
      <%= "Assault initiated at #{strike.time}." %><br>
      <p class="edit"><a href="/countries/<%= strike.country_id %>/strikes/<%= strike.id %>/edit">Is this information inaccurate? Edit this strike.</a></p>
      <% end %>
    </li>
  <% end %>
</ul>
