<h2>Strikes</h2>
<h3>Strike list is user generated and is not guaranteed to be accurate or unbiased.
</h3>

<% if current_user == nil%>
<script>
    alert("Welcome to Syriapp. We are a compendium of user-generated data on the confict in Syria. Our compiled data is available to the public through this website's features. To generate or edit our content you must sign up. We place no constraints on members" +
            "hip, but must track content generation to root out bad actors.  Thank you for your participation.")
</script>
<% end %>

<div class="chart">
    <% i = 0 %>
    <% Country.all.each do |country| %>
    <% one_third = Country.all.length / 3 %>
    <% two_thirds = one_third * 2 %>
    <% if country.strikes.length != 0 %>
    <div id="<% if i < one_third %><%='top_stripe'%><% end %><% if i >= one_third && i < two_thirds %><%='middle_stripe'%><% end %><% if i >= two_thirds %><%='bottom_stripe'%><% end %>" label="<%= country.name %>"
        style="width:<% if country.strikes.length < 100 %><%= country.strikes.length * 10 %><% else %><%= country.strikes.length %><% end %>px;"><%= country.strikes.length %>&nbsp:&nbsp<%= country.name %>
    </div>
    <% else %>
    <%= %>
    <% end %>
    <% i += 1 %>
    <% end %>
</div>
<h5>>>To register a stike with Syriapp, first
    <%= link_to 'select the nation-state', countries_path() %>
    that launched the attack.</h5>
<!-- List of Strikes -->
<ul>
    <% @strikes.each do |strike| %>
    <li>
        On
        <%= strike.date %><br>
        <%= strike.country.name %>
        struck
        <%= strike.target.name %><br>
        <% if strike.airstrike %>
        <%= "Airstrike on #{strike.area} at #{strike.time}"%>
        <% else %>
        <%= "Assault initiated at #{strike.time}." %><br>
        <% end %>
        <p class="edit">
            <a href="/countries/<%= strike.country_id %>/strikes/<%= strike.id %>/edit">
                <h6>Is this information inaccurate? Edit this strike.</h6>
            </a>
        </p>
    </li>
    <% end %>
</ul>
