<h2>Nation-States</h2>
<h4>These are the countries known to be engaged in or directly supporting military activity in Syria.</h4>

<ul>
    <li class="list-group-item disabled">Country : # Strikes Registered with Syriapp : % of Strikes</li>
    <% @countries.each do |country| %>
    <% percent_strikes = (Strike.where("country_id = #{country.id}")).length.to_f / (Strike.all.length.to_f) * 100 %>
    <li class="list-group-item">
        <%= image_tag country.flag_link, alt: "National Flag of #{country.name}", class: "flag" %>&nbsp<%= link_to country.name, "/countries/#{country.id}/strikes" %>&nbsp:<span class="coordination"><%= country.strikes.all.length %></span>&nbsp:&nbsp<%= percent_strikes %>%
    </li>
    <% end %>
</ul>

<%= link_to 'Add Nation', new_country_path() %>
