<!DOCTYPE html>
<html>
<head>
  <title>Syriapp: Mapping a Proxy War</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1>Syriapp</h1>
    <h2>Mapping a Proxy War</h2>
    <%= link_to 'Strikes', '/' %>
    <%= link_to 'Countries', '/countries' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
